<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <title>Cluckr</title>
</head>

<body>
<%- include("../partials/header") %> 
  <main class="main">
    <article class="cluck_new">
      <div class="cluck_new_form">
        <form action="/clucks" method="POST">
          <label for="title">Content</label>
          <textarea name="content" placeholder="Whatchoo cluckin' 'bout?" 
            class="cluck_form_content_text"></textarea>
          <label for="image_url">Image Url</label>
          <input type="text" name="image_url" placeholder="https://i.imgur.com/qM6KaEy.gifv"
            class="cluck_form_image_url_text">
          <div class="cluck_form_submit">
            <input type="submit" value="Cluck!" class="cluck_form_cluck_btn">
          </div>
        </form>
      </div>
    </article>
  </main>
</body>

</html>