<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluckr</title>
</head>

<body>
<%- include("partials/header") %>
  <main class="main">
    <article class="sign_in">
      <div class="sign_in_form">
        <form action="/sign_in" method="POST">
          <label>Username</label>
          <input type="text" name="username" placeholder="e.g. Madam Welminster" class="sign_in_form_input_text">
          <div class="sign_in_form_submit">
            <input type="submit" value="Sign In" class="sign_in_form_submit_btn">
          </div>
        </form>
      </div>
    </article>
  </main>
</body>

</html>