@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');
@import url("reset.css");

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Thasadith', sans-serif;
  font-size: 100%;
}

h1,
h2,
h3 {
  font-family: 'Staatliches', cursive;
}


/*** header and navigation menu ***/

.header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.branding {
  width: 25%;
}

.logo {
  width: 50%;
  height: auto;
}

.nav {
  width: 75%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

nav button,
nav label {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 0.5em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


/*** Clucks all around ***/

.main {
  padding: 0.5em;
}

.article {
  padding: 0.5em;
}

.clucks {
  display: flex;
  flex-direction: column;
}

clucks p,
clucks li {
  font-size: 1.2em;
  font-weight: 600;
}

.cluck {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cluck_image {
  width: 7%;
}

.image {
  width: 100%;
  height: auto;
}

.cluck_content {
  width: 93%;
}

.cluck_image_url {
  width: 100%;
  height: auto;
}


/*** Sign in form ***/

.sign_in_form {
  padding: 1em;
  border: 1px solid black;
}

.sign_in_form_input_text {
  width: 100%;
}

.sign_in_form_submit {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.sign_in_form_submit_btn {
  width: 50%;
}


/*** Cluck at a time ***/

.cluck_form {
  padding: 1em;
  border: 1px solid black;
}

.cluck_form_content_text {
  width: 100%;
}

.cluck_form_image_url_text {
  width: 100%;
}

.cluck_form_submit {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cluck_form_cluck_btn {
  width: 50%;
}
